 
<div class="menuside">

  <!-- Overlay for fixed sidebar-->
  <div class="sidebar-overlay"></div>
  <!-- Material sidebar-->
  <aside class="sidebar sidebar-default sidebar-fixed-left" id="sidebar" role="navigation">
    <!-- Sidebar header-->
    <div class="sidebar-header header-cover">
      <a href="/">MENU NAVIGATION</a>      
    </div>
    <!-- Sidebar navigation-->
    <ul class="nav sidebar-nav">
      <li class="navitem">
        <a href="/"> 
          HOME
        </a>
      </li>
      <li class="navitem">
        <a href="#">           
          ABOUT US
        </a>
      </li>
      <li class="navitem">
        <a href="#">            
          CONTACT US
        </a>
      </li>
      <li class="navitem">
        <a href="#">  
          PRICING
        </a>
      </li>
      <li class="navitem">
        <a href="#">            
          SCHEDULING
        </a>
      </li>      
      <li class="navitem">
        <a href="#">            
          SERVICES
        </a>
      </li>
      <li class="navitem">
        <a href="#">            
          THERAPIST
        </a>
      </li>
       
    </ul>
    <!-- Sidebar divider-->
    <!-- <div class="sidebar-divider"></div>-->
    <!-- Sidebar text-->
    <!-- <div class="sidebar-text">Text</div>-->
    <div class="contsside"><a href="tel:719-632-5784">
        <svg style="width:24px;height:24px;float:left;margin-right:10px" viewbox="0 0 24 24">
          <path fill="#fff" d="M16,18H7V4H16M11.5,22A1.5,1.5 0 0,1 10,20.5A1.5,1.5 0 0,1 11.5,19A1.5,1.5 0 0,1 13,20.5A1.5,1.5 0 0,1 11.5,22M15.5,1H7.5A2.5,2.5 0 0,0 5,3.5V20.5A2.5,2.5 0 0,0 7.5,23H15.5A2.5,2.5 0 0,0 18,20.5V3.5A2.5,2.5 0 0,0 15.5,1Z"></path>
        </svg>719-632-5784</a><a href="tel:info@naturalearthhealingcenter.com"> 
        <svg style="width:24px;height:24px;float:left;margin-right:10px" viewbox="0 0 24 24">
          <path fill="#fff" d="M4,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4M12,11L20,6H4L12,11M4,18H20V8.37L12,13.36L4,8.37V18Z"></path>
        </svg>EMAIL US?</a>
    </div>

    <p class="copyside">© Natural Earth Healing Center.</p>
  </aside>

</div>
