<div id="modal-about" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>
      <img src="/img/massgetherap.jpg" alt="Why Massage Therapy">
      <br>
      <br>
      <h3>Why Massage Therapy</h3>
      <p>Massage Therapy has been around for centuries because it works. As the knowledge of human anatomy has advanced in modern times, we now understand that muscle, tissue, ligaments, and more respond positively to touch.
        <br>
        <br> This is why most work-related injuries, sports related injuries, post-surgical cases and automotive accidents are often treated with massage therapy. The relief and healing that we offer is so well recognized that we are the largest government contracted practice with an expert team of qualified therapist in Southern Colorado.</p>
      <p>Give us a call at <a href="tel:(719)632-5784">(719)632-5784</a> to find out more.</p>

    </section>
  </div>
</div>

<div id="neuro" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal neuro">

        <h4>Neuromuscular Therapy</h4>

        <p>Neuromuscular therapy is a specialized deep tissue massage designed to relieve areas of muscle strain. These areas will typically feel tender and even trigger remote areas of discomfort. By applying pressure to these areas, neuromuscular massage therapy can help release muscle tension and soreness and reeducate the muscle to offer continual relief. Unlike other massage techniques, neuromuscular massage often consists of static, or near static, application of pressure.
          <br>
          <br> Our experienced therapists at Natural Earth Healing Center always pay close attention to the client’s needs during this and every massage technique we practice.</p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="medical" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal medical">

        <h4>Medical Massage</h4>

        <p>Medical Massage targets specific outcomes through treatments that focus on addressing diagnosed conditions and injuries. The client goes through an assessment and evaluation process to determine the best treatment plan specifically designed for their healthcare needs and goals.
        </p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="mayofas" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal mayofas">

        <h4>Myofascial Release Massage</h4>

        <p>By applying sustained pressure and deliberate movement, a myofascial release massage is directed toward the connective tissues around the muscles called fascia. This tissue interconnects each part of the body. When fascial tension is found, pressure is applied to release it. This common massage therapy is shown to be beneficial in relieving cervical, back, and other chronic pain as well as an effective therapy for fibromyalgia, scoliosis, neurological dysfunction, and other restrictions of motion.</p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="sports" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal mayofas">

        <h4>Sports Massage</h4>

        <p>Whether you are a committed athlete or just like to stay in shape, sports massage therapy is an ideal addition to any fitness regimen. With a specifically tailored massage, you can prepare for a big event and recover more quickly from injuries. Our therapists are trained to identify targeted muscle groups and treat with a variety of techniques like active/passive stretching, deep tissue massage, cryotherapy and other integrated therapies.</p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="tissue" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal mayofas">

        <h4>Deep Tissue Massage</h4>

        <p>Deep tissue massage is among the more common therapies we offer at Natural Earth Healing Center. This is where your therapist will address sub-layers of muscles and the fibrous tissue that surrounds them. Deep tissue massage necessarily requires a studied understanding of the body’s physiology and anatomy. Our clients often find that deep tissue massage is beneficial for chronic muscle pain, injury rehabilitation, and can even help reduce pain from inflammation caused by things like arthritis and tendinitis.</p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="bio" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal mayofas">

        <h4>Biodynamical Craniosacral Therapy</h4>

        <p>Biodynamical Craniosacral Therapy is a gentile profound non-invasive, hands on treatment for the whole body. This treatment focuses on supporting the health of the whole being by focusing on the central nervous system, brain and spinal column and the surrounding fluid. This treatment is effective for chronic/acute pain, chronic conditions such as Multiple Sclerosis, Parkinson’s disease and other neurological conditions, PTSD, trauma, anxiety, depression and stress.</p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="lymp" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal mayofas">

        <h4>Lymphatic Drainage Therapy</h4>

        <p>The Lymphatic system is the body’s way of expelling toxins and metabolic waste. Lymphatic Drainage Therapy helps stimulate this system to enhance its function. This light touch, non-invasive therapy treats conditions such as Lymphedema, Chronic Fatigue Syndrome and most commonly, as an aid in Cancer treatments to reduce pain and swelling and reeducate the body’s ability to expel toxins. Lymph Drainage Massage is also known to stimulate the immune system. On center photo “At Natural Earth Healing Center, we strive to do more that offer excellent therapeutic and medical massage therapy. It is our goal to provide restorative experience that will last” </p>

        <div class="btncall">
          <a href="tel:719-632-5784" class="hvr-bounce-to-right">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
            </svg>
            CALL TODAY
          </a>
        </div>

      </div>

    </section>
  </div>
</div>

<!-- THERAPIST -->

<div id="therap1" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist1.jpg" alt="Tonya Antl-Buck, LMT CO-Owner">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Tonya Antl-Buck, LMT CO-Owner</h4>

            <p>Tonya has been in practice since 2006 and has been working with the Medical Community to assist patients on their path to wellness. Tonya integrates Medical Massage techniques with Myofascial Therapy and Reiki to assist the patient with healing and improving their quality of life.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>

    </section>
  </div>
</div>

<div id="therap2" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist2.jpg" alt="Mary Jo Nichols, LMT CO-Owner">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Mary Jo Nichols, LMT CO-Owner</h4>

            <p>Mary Jo has been in practice since 2009. Neuromuscular Therapy, Medical Massage and pre/post-surgery recovery is her specialty. She has studied Reiki Healing, Craniosacral Therapy, Healing Diets and Holistic Health. Her practice focuses on chronic pain and chronic illness clients.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap3" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist3.jpg" alt="Amarilees Bolorin, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Amarilees Bolorin, LMT</h4>

            <p>Originally from Massachusetts, Amarilees received a BA degree in Athletic Training from Springfield College in 2014. Shortly after, she moved out to Colorado and attended CIMT. Graduating in 2017 as a LMT and CNMT, she is also the head AT for Palmer High School here in town.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap4" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist4.jpg" alt="Elycia Hage-Ali, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Elycia Hage-Ali, LMT</h4>

            <p>Elycia graduated from CIMT in December of 2017. She is certified in Neuromuscular Therapy, Myofascial Release, Sports Massage and Deep Tissue. Elycia is also a Reiki 3 Practitioner and Yoga Instructor.She is a strong believer in addressing the mind, body and spirit for healing.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap5" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist5.jpg" alt="Terra Holzapfel, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Terra Holzapfel, LMT</h4>

            <p>Terra’s main focus is in injury rehabilitation through techniques such as Swedish, Neuromuscular Therapy, Deep Tissue, Trigger Point, and Muscle Energy Techniques. Terra received training at CIMT where she graduated in 2015. She also specializes in relaxation therapy.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap6" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist6.jpg" alt="Robin Shankman, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Robin Shankman, LMT</h4>

            <p>Robin Shankman has been doing Energy work since 1998 She is a Certified Biodynamic Craniosacral Therapist, Lymphatic Drainage Therapist, Phenomenal Touch Practitioner and Raindrop Therapist. She treats every client with compassion and respect and honors the needs of the individual.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap7" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist7.jpg" alt="Kali Spafford, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Kali Spafford, LMT</h4>

            <p>Kali began her massage career in 2009. She graduated from Colorado Institute of Massage Therapy, she specializes in Neuromuscular Therapy, Swedish, Sports, Deep Tissue, Trigger Point therapy, facilitated stretching and gentle energy work. Kali is passionate about helping her clients heal.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap8" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist9.jpg" alt="Matthew Wagner">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Matthew Wagner</h4>

            <p>Matthew Wagner is a Licensed Massage Therapist and Physical Therapist Assistant and is certified in Neuromuscular Therapy. Among his interests are sports rehab/nutrition, strength training, biking and backpacking. He is originally from Cleveland and loves Colorado weather!</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap9" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/therapist8.jpg" alt="Erica Weaver, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Erica Weaver, LMT</h4>

            <p>Erica saw the benefits of massage early in life as her mother found healing from sciatic nerve pain. In 2010 she began training to become a certified Neuromuscular therapist. She now specializes in deep tissue techniques helping clients with injury recovery and pain maintenance.</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="therap10" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal therapist">

        <div class="row">
          <div class="col-md-4 lefttherp">
            <img src="/img/micaela-paulzine.jpg" alt="Micaela Paulzine, LMT">
          </div>
          <div class="col-md-8 lefttherp">
            <h4>Micaela Paulzine, LMT</h4>

            <p>Micaela is a Minnesota native who moved to Colorado to hike, explore the mountains and enjoy life. After graduating from Colorado Institute of Massage Therapy she began diving into her specialties, deep tissue, therapeutic and sports massage. She is eager to travel the world and continue to expand her knowledge base and experience!</p>

            <div class="btncall">
              <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                </svg>
                CALL TODAY
              </a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<div id="can" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal sched1">

        <p>We kindly request a 24 hr. notice to cancel or reschedule. We know that things come up… however, same day cancelations will be charged for that missed appointment. No-shows or forgotten appointments will be charged.</p>

      </div>
    </section>
  </div>
</div>

<div id="ill" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal sched1">

        <p>If one of our Therapists has contagious symptoms: fever, nausea, vomiting, sneezing, etc., we will contact you to reschedule. If you are experiencing the same symptoms, we ask that you contact your therapist as soon as possible to reschedule. There is no fee for illness related cancelations.</p>

      </div>
    </section>
  </div>
</div>

<div id="late" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
  <button data-izimodal-close="" class="icon-close" style="">

    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>

  </button>
  <div class="modalstyle aboutcont">
    <section>

      <div class="detservmodal sched1">

        <p>If you arrive late, your session may be shortened in order to accommodate others whose appointments follow yours. Depending upon how late you arrive, your therapist will then determine if there is enough time remaining to start a treatment. Regardless of the length of the treatment given, you will be responsible for the full session fee. Out of respect and consideration to your therapist and other clients, please plan accordingly and be on time.</p>

      </div>
    </section>
  </div>
</div>
