<div id="modal-about" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>
                      <img src="/img/massgetherap.jpg" alt="Why Massage Therapy">
                      <br>
                      <br>
                       <h3>Why Massage Therapy</h3>
                       <p>Massage Therapy has been around for centuries because it works. As knowledge of human anatomy has advanced in modern times, we now understand that muscle, tissue, ligaments, and more respond positively to touch. 
                        <br>
                        <br>
                      This is why work related injuries and automotive accidents are often treated with massage therapy. In fact, pain relief from pill from pills and other prescribed medications. The relief and healing that we offer is so well recognized that we are the largest government contracted practice with an expert team of qualified therapist in Southern Colorado.</p>
                      <p>Give us a call at <a href="tel:(719)632-5784">(719)632-5784</a> to find out more.</p>

                      <p>We're conveniently located at 620 South Cascade Ave.m Colorado Springs, CO 80903, and it's easy to schedule your appointment online. Come to Natural Earth Healing Center to discover exceptional therpeutic treatments from professional massage therapist serving Colorado Springs and the surrounding areas including Monument, and Woodland Park, CO.</p> 

                  </section>
            </div>
  </div>





  <div id="neuro" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal neuro">

                      <h4>Neuromuscular Therapy</h4>

                      <p>The body's central nervous system is essentially the wiring that carries signals from the brain to the body. Neuromuscular therapy is a specialized deep tissue massage designed to relieve areas of muscle strain. These areas will typically feel tender and even trigger remote areas of discomfort. By applying pressure to these areas, neuromuscular massage therapy can help release muscle tension and soreness and reeducate the muscle to offer continual relief. Unlike other massage techniques, neuromuscular massage often consists of static, or near static, application of pressure.
                        <br><br>

                      Our experienced therapists at Natural Earth Healing Center always pay close attention to the client's needs during this and every massage technique we practice.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>


  <div id="medical" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal medical">

                      <h4>Medical Massage</h4>

                      <p>Medical Massage is focused on realizing specific outcomes through precise targeted treatments. At Natural Earth Healing Center, we are proud to be the premier medical massage practice serving the greater Pikes Peak Region.
                      <br>
                      <br>
                      Doctors in the Colorado Springs area recommend that patients recovering from injuries and other ailments get medical massage therapy at Natural Earth Healing Center.
                      <br>
                      <br>
                      Thanks to their background in traditional medicine, our founders know first hand how beneficial medical massage therapy can be in recovery from injuries and much more. Ask your doctor if medical massage therapy is something you should consider.
                      </p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>




  <div id="mayofas" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal mayofas">

                      <h4>Myofascial Release Massage</h4>

                      <p>By applying sustained pressure and deliberate movement, a myofascial release massage is directed toward the connective tissues around the muscles called fascia. This tissue interconnects each part of the body. When fascial tension is found, pressure is applied to release it. This common massage therapy is shown to be beneficial in relieving cervical, back, and other chronic pain. Myofascial release massage can also be an effective therapy for fibromyalgia, scoliosis, neurological dysfunction, and other restrictions of motion.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>




  <div id="sports" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal mayofas">

                      <h4>Sports Massage</h4>

                      <p>Whether you are a committed athlete or just like to stay in shape, sports massage therapy is an ideal addition to any fitness regimen. Prepare for the big event and recover more quickly from injuries with expert sport massage therapy at Natural Health Healing Center. Our experienced therapists will tailor your sports massage to the specific activates you're engaged in and account for pre-event, post-event, or injury recovery. Always be at your best with highly trained sports massage therapy.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>



  <div id="tissue" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal mayofas">

                      <h4>Deep Tissue Massage</h4>

                      <p>Deep tissue massage is among the more common therapies we offer at Natural Earth Healing Center. This is where your therapist will address sub-layers of muscles and the fibrous tissue that surrounds them. Deep tissue massage necessarily requires a studied understanding of the body's physiology and anatomy. Our clients often find that deep tissue massage is beneficial for chronic muscle pain, injury rehabilitation, and can even help reduce pain from inflammation caused by things like arthritis and tendinitis.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>


  <div id="bio" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal mayofas">

                      <h4>Biodynamical Craniosacral Therapy</h4>

                      <p>interacts with the fluid supporting your brain bones nervous system and more. It helps to relieve pain and discomfort caused by conditions as traumatic brain injury, post traumatic stress disorder, multiple sclerosis and other neurological conditions.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>



  <div id="lymp" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal mayofas">

                      <h4>Lymph Drainage Massage Therapy</h4>

                      <p>The Lymphatic system is the body's way of expelling toxins and metabolic waste. Lymph Drainage Massage helps stimulate this system to enhance its function. Developed in Germany to address cases of Lymphedema, this massage technique has also been shown to help reduce levels of toxins that can cause feelings of fatigue, low energy, mood swings and promote quick recover when fighting illness and viruses. This modality is often used with cancer treatments to reduce pain and swelling and reeducate the body's ability to expel toxins. Lymph Drainage Massage can also reduce pain and stimulate the immune system.</p>

                      <div class="btncall">
                        <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                          </svg>
                          CALL TODAY
                        </a>
                      </div>
                      


                    </div>
                       

                  </section>
            </div>
  </div>







  <!-- THERAPIST -->



  <div id="therap1" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapist1.jpg" alt="Tonya Antl-Buck, LMT CO-Owner">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Tonya Antl-Buck, LMT CO-Owner</h4>

                          <p> Tonya has been in practice since 2006 and has been working with the Medical Community to assist patients on their path to wellness. Tonya integrates Medical Massage techniques with Myofascial Therapy and Reiki to assist the patient with healing and improving their quality of life.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                      
                      


                    </div>
                       

                  </section>
            </div>
  </div>

  <div id="therap2" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapist2.jpg" alt="Mary Jo Nichols, LMT CO-Owner">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Mary Jo Nichols, LMT CO-Owner</h4>

                          <p>Mary Jo graduated from CIMT in 2010. Neuromuscular Therapy, Medical Massage and pre/post-surgery recovery is her specialty. She has studied Reiki Healing, Craniosacral Therapy, Healing Diets and Holistic Health. Her practice focuses on chronic pain and chronic illness clients.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap3" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapthumb2.png" alt="Amarilees Bolorin, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Amarilees Bolorin, LMT</h4>

                          <p>Originally from Massachusetts, Amarilees received a BA degree in Athletic Training from Springfield College in 2014. Shortly after, she moved out to Colorado and attended CIMT. Graduating in 2017 as a LMT and CNMT, she is also the head AT for Palmer High School here in town.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap4" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapthumb2.png" alt="Elycia Hage-Ali, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Elycia Hage-Ali, LMT</h4>

                          <p>Elycia graduated from CIMT in December of 2017. She is certified in Neuromuscular Therapy, Myofascial Release, Sports Massage and Deep Tissue. Elycia is also a Reiki 3 Practitioner and Yoga Instructor.She is a strong believer in addressing the mind, body and spirit for healing.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap5" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapthumb2.png" alt="Terra Holzapfel, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Terra Holzapfel, LMT</h4>

                          <p>Terra’s main focus is in injury rehabilitation through techniques such as Swedish, Neuromuscular Therapy, Deep Tissue, Trigger Point, and Muscle Energy Techniques. Terra received training at CIMT where she graduated in 2015. She also specializes in relaxation therapy.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap6" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapist7.jpg" alt="Robin Shankman, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">
                          <h4>Robin Shankman, LMT</h4>

                          <p>Robin Shankman has been doing Energy work since 1998 She is a Certified Biodynamic Craniosacral Therapist, Lymphatic Drainage Therapist, Phenomenal Touch Practitioner and Raindrop Therapist. She treats every client with compassion and respect and honors the needs of the individual.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap7" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapist8.jpg" alt="Kali Spafford, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">  
                          <h4>Kali Spafford, LMT</h4>

                          <p>Kali began her massage career in 2009. She graduated from Colorado Institute of Massage Therapy, she specializes in Neuromuscular Therapy, Swedish, Sports, Deep Tissue, Trigger Point therapy, facilitated stretching and gentle energy work. Kali is passionate about helping her clients heal.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>

  <div id="therap8" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapist9.jpg" alt="Matthew Wagner">
                        </div>
                        <div class="col-md-8 lefttherp">  
                          <h4>Matthew Wagner</h4>

                          <p>Matthew Wagner is a Licensed Massage Therapist and Physical Therapist Assistant and is certified in Neuromuscular Therapy. Among his interests are sports rehab/nutrition, strength training, biking and backpacking. He is originally from Cleveland and loves Colorado weather!</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>


  <div id="therap9" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal therapist">

                      <div class="row">
                        <div class="col-md-4 lefttherp">
                          <img src="/img/therapthumb2.png" alt="Erica Weaver, LMT">
                        </div>
                        <div class="col-md-8 lefttherp">  
                          <h4>Erica Weaver, LMT</h4>

                          <p>Erica saw the benefits of massage early in life as her mother found healing from sciatic nerve pain. In 2010 she began training to become a certified Neuromuscular therapist. She now specializes in deep tissue techniques helping clients with injury recovery and pain maintenance.</p>

                          <div class="btncall">
                            <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                              </svg>
                              CALL TODAY
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
            </div>
  </div>





  <div id="can" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal sched1">

                      <p>We kindly request a 24 hr. notice to cancel or reschedule. We know that things come up… however, a same day change in your schedule affects our business, at that time you will be charged for that missed appointment. No-shows or forgotten appointments will be charged. As a courtesy, we will wait 15 minutes for you to show up, after that you will be charged.</p>

                    </div>
                  </section>
            </div>
  </div>


  <div id="ill" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal sched1">

                      <p>In the event of contagious symptoms: fever, nausea, vomiting, sneezing, etc.. We will call to cancel every time and we suggest you do the same. No charge for that cancellation will result.</p>

                    </div>
                  </section>
            </div>
  </div>


  <div id="late" aria-hidden="false" aria-labelledby="modal-custom" role="dialog" class="iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; max-width: 600px; display: none; height: 447px;">
          <button data-izimodal-close="" class="icon-close" style="">

            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
            </svg>

          </button> 
            <div class="modalstyle aboutcont">
                  <section>

                    <div class="detservmodal sched1">

                      <p>If you arrive late your session may be shortened in order to accommodate others whose appointments follow yours. Depending upon how late you arrive, your therapist will then determine if there is enough time remaining to start a treatment. Regardless of the length of the treatment given, you will be responsible for the full session fee. Out of respect and consideration to your therapist and other clients, please plan accordingly and be on time.</p>

                    </div>
                  </section>
            </div>
  </div>