<extends src='layout.html'>
  <block name='content'>


    <section id="whymassage">
      <div class="row">
        <div class="col-md-6 leftwhy">
          
        </div>
        <div class="col-md-6 rightwhy">
          <h1>Why Massage Therapy</h1>
          <p>Massage Therapy has been around for centuries because it works. As knowledge of human anatomy has advanced in modern times, we now understand that muscle, tissue, ligaments, and more respond positively to touch. 
          <br><br>
          This is why work related injuries and automotive accidents are often treated with massage therapy. In fact, pain relief from pill from pills and other prescribed medications. The relief and healing that we offer is so well recognized that we are the largest government contracted practice with an expert team of qualified therapist in Southern Colorado.</p> 
          <a class="moreinfoabout" href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z"></path>
            </svg>MORE INFO</a>
          <!-- At Natural Earth Healing Center, we’ll take care of the insurance so you can focus on feeling better. 
          <br><br>
          Give us a call at <a href="tel:(719)632-5784">(719)632-5784</a> to find out more.</p>

          <p>We're conveniently located at 620 South Cascade Ave.m Colorado Springs, CO 80903, and it's easy to schedule your appointment online. Come to Natural Earth Healing Center to discover exceptional therpeutic treatments from professional massage therapist serving Colorado Springs and the surrounding areas including Monument, and Woodland Park, CO.</p> -->
        </div>
      </div>
    </section>

    <section id="ourservices">
      <div class="container">
        <div class="swiper-container content">
          <h2 class="headtits text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">Our Services</h2>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#neuro" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv1.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="#" data-izimodal-open="#neuro" data-izimodal-transitionin="fadeInDown">
                    <h3>Neuromusular Therapy</h3>
                  </a>
                  <p>Specialized Deep Tissue message designed to relieve areas muscle strain and pain.</p>
                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#neuro" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#medical" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv2.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#medical" data-izimodal-transitionin="fadeInDown">
                    <h3>Medical Massage</h3>
                  </a>
                  <p>Focused on helping individuals recover from medical injuries, surgeries and various conditions..</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#medical" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->



            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#mayofas" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv3.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#mayofas" data-izimodal-transitionin="fadeInDown">
                    <h3>Myofascial Release</h3>
                  </a>
                  <p>Directed towards the connective tissue and fascia around the muscles by applying sustained pressure.</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#mayofas" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->


            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#sports" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv4.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#sports" data-izimodal-transitionin="fadeInDown">
                    <h3>Sports Massage</h3>
                  </a>
                  <p>Targeted to help the athlete with pre event, post event and injury recovery. <br><br></p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#sports" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->


            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#tissue" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv5.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#tissue" data-izimodal-transitionin="fadeInDown">
                    <h3>Deep Tissue Massage</h3>
                  </a>
                  <p>Specifically addresses the sub layers of muscles and fibrous tissue... <br><br></p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#tissue" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#" data-izimodal-open="#bio" data-izimodal-transitionin="fadeInDown">
                      <img width="220" height="220" src="/img/serv6.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#bio" data-izimodal-transitionin="fadeInDown">
                    <h3>Biodynamical Craniosacral Therapy</h3>
                  </a>
                  <p>interacts with the fluid supporting your brain bones nervous system..</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#" data-izimodal-open="#bio" data-izimodal-transitionin="fadeInDown">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->





          </div>
          <!-- Add Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows-->
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="42px" height="42px"> 
            <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z   " fill="#2b5846"/></svg>
          </div>
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="42px" height="42px"> 
              <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225   c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" fill="#2b5846"/>
            </svg>
          </div>
        </div>
      </div>       
    </section>


    <section id="quote">
      <div class="container">
        <h1>At Natural Earth Healing Center, we strive to do more than offer excellent therapeutic  and medical massage therapy. It’s our goal to provide a restorative experience  that will stay with you. </h1>
      </div>
    </section>


    <section id="meetourtherapist">
      <div class="container">
        <div class="titletherpst">
          <h1>Meet Our Therapist</h1>
        </div>

        <div class="therapists swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist1.jpg" alt="">
                <div class="detbio">
                  <h3>Tonya Antl-Buck, LMT</h3>
                  <span>Owners / Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap1" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist2.jpg" alt="">
                <div class="detbio">
                  <h3>Cynthia F Barber, LMT</h3>
                  <span>Owners / Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap2" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist4.jpg" alt="">
                <div class="detbio">
                  <h3>Erica Feller, LMT</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap3" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist5.jpg" alt="">
                <div class="detbio">
                  <h3>Terra, Holzapfel, LMT</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap4" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist6.jpg" alt="">
                <div class="detbio">
                  <h3>Sue Palumbo, LMT</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap5" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist7.jpg" alt="">
                <div class="detbio">
                  <h3>Robin Shankman, LMT</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap6" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist8.jpg" alt="">
                <div class="detbio">
                  <h3>Kali Spafford</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap7" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            <div class="swiper-slide">          
              <div class="detteam">
                <img src="/img/therapist9.jpg" alt="">
                <div class="detbio">
                  <h3>Matthew Wagner</h3>
                  <span>Contracting Therapist</span>
                  <p class="btnher"><a href="#" data-izimodal-open="#therap8" data-izimodal-transitionin="fadeInDown">MORE INFO</a></p>
                </div>
              </div>
            </div> <!-- End Slide -->
            

          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div> 
      </div>
    </section> 


    <section id="contact">
      <div class="container">
         <div class="row">
          <div class="col-md-6 col-sm-6 leftcontnone">
            
          </div>

          <div class="col-md-6 col-sm-6 rightcontdets">

            <form id="contactForm" name="Natural Earth Healing Center" action="/thank-you-page" method="post" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="contact-form"><input type="hidden" name="form-name" value="Natural Earth Healing Center">
              <div class="divdetconts">
                <h1>Contact Us</h1>
              </div>
              <input type="hidden" name="subject" value="Contact Details">
              <div class="row">
                <div class="col-sm-6 frstnm">
                  <input type="text" name="name" placeholder="FIRST NAME" tabindex="1" required="required" class="name">
                </div>
                <div class="col-sm-6 lastnm">
                  <input type="text" name="lastname" placeholder="LAST NAME" tabindex="1" required="required" class="lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 addrs"> 
                  <input type="text" name="email" placeholder="EMAIL ADDRESS" tabindex="2" required="required" class="email">
                </div>
                <div class="col-sm-6 phn">
                  <input type="text" name="phone number" placeholder="PHONE" tabindex="1" required="required" class="phone">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 msgtxt">
                  <textarea name="message" placeholder="COMMENTS" tabindex="4" required="required" class="message"></textarea>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-12 btnform">          
                  <input type="submit" name="submit" value="SUBMIT" tabindex="5" class="submit hvr-bounce-to-right">
                </div>
              </div>
                           
            </form>
            
          </div>
        </div>

      </div>    
      
    </section>



    <!-- <h1>{{ site.sitedata[0].sitename }}</h1>
    <p>{{ site.sitedata[0].metadesc }}</p>
    <br />
    <h2>Recent Blogs:</h2>
    <ul>
      <each loop="post, index of _collections.posts">
        <li>
          <a href='{{ post._path }}'>{{ post.title }}</a>
        </li>
      </each>
    </ul> -->
  </block>  
</extends>
