<extends src='layout.html'>
  <block name='content'>


    <section id="whymassage">
      <div class="row">
        <div class="col-md-6 leftwhy">
          
        </div>
        <div class="col-md-6 rightwhy">
          <h1>Why Massage Therapy</h1>
          <p>Massage Therapy has been around for centuries because it works. As knowledge of human anatomy has advanced in modern times, we now understand that muscle, tissue, ligaments, and more respond positively to touch. 
          <br><br>
          This is why work related injuries and automotive accidents are often treated with massage therapy. In fact, pain relief from pill from pills and other prescribed medications. The relief and healing that we offer is so well recognized that we are the largest government contracted practice with an expert team of qualified therapist in Southern Colorado.
          <br>
          <br>
          At Natural Earth Healing Center, we’ll take care of the insurance so you can focus on feeling better. 
          <br><br>
          Give us a call at <a href="tel:(719)632-5784">(719)632-5784</a> to find out more.</p>

          <p>We're conveniently located at 620 South Cascade Ave.m Colorado Springs, CO 80903, and it's easy to schedule your appointment online. Come to Natural Earth Healing Center to discover exceptional therpeutic treatments from professional massage therapist serving Colorado Springs and the surrounding areas including Monument, and Woodland Park, CO.</p>
        </div>
      </div>
    </section>

    <section id="ourservices">
      <div class="container">
        <div class="swiper-container content">
          <h2 class="headtits text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true">Our Services</h2>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv1.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Neuromusular Therapy</h3>
                  </a>
                  <p>Specialized Deep Tissue message designed to relieve areas muscle strain and pain.</p>
                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv2.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Medical Massage</h3>
                  </a>
                  <p>Focused on helping individuals recover from medical injuries, surgeries and various conditions..</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->



            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv3.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Myofascial Release</h3>
                  </a>
                  <p>Directed towards the connective tissue and fascia around the muscles by applying sustained pressure.</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->


            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv4.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Sports Massage</h3>
                  </a>
                  <p>Targeted to help the athlete with pre event, post event and injury recovery.</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->


            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv5.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Deep Tissue Massage</h3>
                  </a>
                  <p>Specifically addresses the sub layers of muscles and fibrous tissue...</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->

            <div class="swiper-slide">
              <div class="services-container text-center">
                <div class="service-img">
                  <div class="service-img-inner">
                    <a href="#">
                      <img width="220" height="220" src="/img/serv6.png"/>
                    </a>
                  </div> 
                </div>
                <div class="services-details">
                  <a href="" data-izimodal-open="#youtube2">
                    <h3>Biodynamical Craniosacral Therapy</h3>
                  </a>
                  <p>interacts with the fluid supporting your brain bones nervous system and more...</p>

                  <ul>
                    <li class="callusbook">
                      <a href="tel:719-632-5784">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z" />
                        </svg>CALL US
                      </a>
                    </li>
                    <li class="infoserv">
                      <a href="#">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- END SLIDE-->





          </div>
          <!-- Add Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows-->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>       
    </section>


    <section id="quote">
      <div class="container">
        <h1>At Natural Earth Healing Center, we strive to do more than offer excellent therapeutic  and medical massage therapy. It’s our goal to provide a restorative experience  that will stay with you. </h1>
      </div>
    </section>


    <section id="meetourtherapist">
      <div class="container">
        <div class="titletherpst">
          <h1>Meet Our Therapist</h1>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="detteam">
              <img src="/img/therapist1.jpg" alt="">
              <div class="detbio">
                <h3>Tonya Antl-Buck, LMT</h3>
                <span>Owners / Therapist</span>
                <p class="btnher">MORE INFO</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="detteam">
              <img src="/img/therapist1.jpg" alt="">
              <div class="detbio">
                <h3>Tonya Antl-Buck, LMT</h3>
                <span>Owners / Therapist</span>
                <p class="btnher">MORE INFO</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="detteam">
              <img src="/img/therapist1.jpg" alt="">
              <div class="detbio">
                <h3>Tonya Antl-Buck, LMT</h3>
                <span>Owners / Therapist</span>
                <p class="btnher">MORE INFO</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="detteam">
              <img src="/img/therapist1.jpg" alt="">
              <div class="detbio">
                <h3>Tonya Antl-Buck, LMT</h3>
                <span>Owners / Therapist</span>
                <p class="btnher">MORE INFO</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section> 



    <!-- <h1>{{ site.sitedata[0].sitename }}</h1>
    <p>{{ site.sitedata[0].metadesc }}</p>
    <br />
    <h2>Recent Blogs:</h2>
    <ul>
      <each loop="post, index of _collections.posts">
        <li>
          <a href='{{ post._path }}'>{{ post.title }}</a>
        </li>
      </each>
    </ul> -->
  </block>  
</extends>
