<extends src='general.html'>
  <block name='content'>

    <div id="slidegen" class="headergen">
      <div class="container">
        <div class="sildertxt text-center"><a href="/">Natural Earth Healing Center</a><span>/</span>
          <h4 class="othrpagesttle">Pricing</h4>
        </div>
      </div>      
    </div>


    <section id="contentgens" class="contentgeneral pricing">
      <div class="container">

        <div class="row">
          <div class="col-md-4 prclst pric1">
            <div class="divprc">

              <div class="headprc">
                <h1>Cash/Uninsured Discount</h1>
              </div>
              <ul>
                <li>60min session $75.00</li>
                <li>90min session $112.50</li>
              </ul>

            </div>
              
               
          </div>
          <div class="col-md-4 prclst pric2">

            <div class="divprc">
              <div class="headprc">
                <h1>Senior Discounts (50+)</h1>
              </div>
              <ul>
                <li>60min session $65.00</li>
                <li>90min session $95.00</li>
              </ul>              
            </div>              
               
          </div> 
          <div class="col-md-4 prclst pric3">
              <div class="divprc">
                <div class="headprc">
                  <h1>Package Discounts</h1>
                </div>
                <ul>
                  <li>5 pack - 60min session $275.00</li>
                  <li>5 pack - 90 min sessions $462.50</li>
                </ul>                
              </div>             
               
          </div>
          <div class="col-md-4 prclst pric4">
              <div class="divprc">
                <div class="headprc">
                  <h1>Forms of Payment:</h1>
                </div>
                <ul>
                  <li>Debit Card</li>
                  <li>Personal Checks</li>
                  <li>Cash Mastercard</li>
                  <li>Visa</li>
                </ul>
                
              </div>             
               
          </div>
        </div>

      </div>
      
    </section> 



    <!-- <h1>{{ site.sitedata[0].sitename }}</h1>
    <p>{{ site.sitedata[0].metadesc }}</p>
    <br />
    <h2>Recent Blogs:</h2>
    <ul>
      <each loop="post, index of _collections.posts">
        <li>
          <a href='{{ post._path }}'>{{ post.title }}</a>
        </li>
      </each>
    </ul> -->
  </block>  
</extends>
