<extends src='general.html'>
  <block name='content'>

    <div id="slidegen" class="headergen">
      <div class="container">
        <div class="sildertxt text-center"><a href="/">Natural Earth Healing Center</a><span>/</span>
          <h4 class="othrpagesttle">Services</h4>
        </div>
      </div>      
    </div>


    <section id="contentgens" class="contentgeneral servcs">
      <div class="container">

        <div class="headapp">
          <h1>Benefits & Modalities</h1>
        </div>

        <div class="row servicspage">

          <div class="col-sm-8 leftcontapp">
            <p>
              <strong>Massage - </strong> the therapeutic use of touch to reduce pain, relax or energize the body's muscles and soft tissues, improves mobility, relieves stress, improves blood and energy circulation, and reduces swelling.
            </p> 
            <strong>Our Therapists</strong>
            <p>Are committed to professional integrity. All of our therapists are licensed with advanced certifications or highly trained in a variety of different modalities. This allows your therapist to provide the exact combination of soft tissue work that will best meet your individual needs. Therefore, whether you are coming for relaxation or due to injury or illness, your therapist will customize your massage to give your body exactly what it needs.</p>

          </div>

          <div class="col-sm-4 rightcontapp">
            <img class="imgrightfloat" src="/img/general/serv_imgright.jpg" alt="">
          </div>
          
        </div>


        <hr>

        <div class="listservs row"> 

            <div class="col-md-4 col-sm-4 listserv1">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen1.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Aromatherapy Massage</a>
                <p>Just like a scent can bring back and old memory..</p>
              </div> 
            </div><!-- END SLIDE -->


            <div class="col-md-4 col-sm-4 listserv2">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen2.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Craniosacral Massage Therapy</a>
                <p>Craniosacral is the medical term used to describe the area of the body..</p>              
              </div>   
            </div><!-- END SLIDE -->


            <div class="col-md-4 col-sm-4 listserv3">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen3.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Cryotherapy Massage</a>
                <p>This is more commonly known as ice therapy since it utilizes the benefits..</p>              
              </div>   
            </div><!-- END SLIDE -->


            <div class="col-md-4 col-sm-4 listserv4">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen4.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Deep Tissue Massage</a>
                <p>Deep tissue massage is among the more common therapies we offer..</p>                 
              </div>   
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv5">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen5.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Lymph Drainage Massage Therapy</a><p>The lymphatic system is the body's way of expelling..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv6">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen6.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Massage Benefits</a><p>What can massage therapy help? its commonly recognized for stress relief and relaxation..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv7">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen7.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Medical Massage</a><p> Medical Massage is focused on realizing specific outcomes through precise..</p>                
              </div> 
            </div><!-- END SLIDE -->


            <div class="col-md-4 col-sm-4 listserv8">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen8.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Myofascial Release Massage</a><p>By applying sustained pressure and deliberate movement, a myofascial release..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv9">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen9.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Neuromuscular Therapy</a><p>The body's central nervous system is essentially the wiring that carries signal..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv10">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen10.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Prenatal Pregnancy Massage</a><p>A stiff neck, aching back, leg cramps, headache, and swelling..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv11">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen11.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Reiki Healing</a><p>Reiki is a hands-on energy healing art that should only be trusted to highly..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv12">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen12.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Sports Massage</a><p>Whether you are a committed athlete or just like to stay in shape..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv13">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen13.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Swedish Massage</a><p>Swedish Massage is one of the best known and most taught massage techniques..</p>                
              </div> 
            </div><!-- END SLIDE -->

            <div class="col-md-4 col-sm-4 listserv14">
              <div class="detserlist">
                <div class="thumb"><img src="/img/general/servgen14.png" alt=""></div>
                <a href="#"  data-izimodal-open="#modal-about" data-izimodal-transitionin="fadeInDown">Thai Massage</a><p>With practice in Thailand going back over an estimated 2,500 years..</p>                
              </div> 
            </div><!-- END SLIDE --> 
        </div>

        <br><br>


        <hr>


        <div class="listbtmserv">
          
          <div class="listservbtm btm1">
            <div class="row">
              <div class="col-md-4 leftservbtm">
                <img src="/img/general/servspec1.jpg" alt="">
              </div>
              <div class="col-md-8 rightservbtm">
                <h1>Medical Massage in Colorado Springs, CO</h1>
                <p>Medical massage is one of our primary specialties here at Natural Earth Healing Center. Our founders came from a successful career in traditional healthcare to help provide for the need of specialized medical massage therapy. Working closely with doctors and physicians that treat injury from automotive accidents and other trauma, we take pride in helping our clients realize a quicker and more comfortable recovery.</p>
                <div class="btncall">
                  <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                    </svg>
                    CALL TODAY
                  </a>
                </div>
              </div>
            </div>
            
          </div>

          <div class="listservbtm btm2">
            <div class="row">
              <div class="col-md-4 leftservbtm">
                <img src="/img/general/servspec2.jpg" alt="">
              </div>
              <div class="col-md-8 rightservbtm">
                <h1>Massage Therapy for State & Federal Worker's Compensation Insurance</h1>
                <p>At Natural Earth Healing Center, we are grateful for the hard work and dedication provided by civil servants of all capacities. We know that many of these jobs can be hard on the body, and we are here to help you find comfort and respite from injuries and pain brought on by your service. We have the knowledge and experience to put your well-being as the priority and deal with worker's comp insurance so you can focus on healing. As specialists in Medical Massage, we will work closely with your doctors and care providers to ensure that your healing and peace of mind is central. Massage therapy through a worker's comp insurance claim does require preapproval, so contact us first, and we'll help you get the process started.</p>
                <div class="btncall">
                  <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                    </svg>
                    CALL TODAY
                  </a>
                </div>
              </div>
            </div>
            
          </div>


          <div class="listservbtm btm3">
            <div class="row">
              <div class="col-md-4 leftservbtm">
                <img src="/img/general/servspec3.jpg" alt="">
              </div>
              <div class="col-md-8 rightservbtm">
                <h1>Massage Therapy for Automotive Accidents</h1>
                <p>At Natural Earth Healing Center, we understand well the difficulty and pain that often results from an automotive accident. Treating the pain and injuries from such accidents is one of the more common aspects of our medical massage practice. We work with the insurance companies so you can focus on healing, and we also work with accident attorneys to ensure that you get the care you need. Treating such injuries is not something you should trust to just any massage practice, and you won't find more skilled, experienced, or highly trained massage therapists than our hand-picked team. While preapproval for automotive accident massage therapy is typically the most efficient way to start treatment quickly, it is not required. Give us a call to learn more.</p>
                <div class="btncall">
                  <a href="tel:719-632-5784" class="hvr-bounce-to-right">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M12,1C7,1 3,5 3,10V17A3,3 0 0,0 6,20H9V12H5V10A7,7 0 0,1 12,3A7,7 0 0,1 19,10V12H15V20H18A3,3 0 0,0 21,17V10C21,5 16.97,1 12,1Z"></path>
                    </svg>
                    CALL TODAY
                  </a>
                </div>
              </div>
            </div>
            
          </div>



        </div>



      </div>
      
    </section> 



    <!-- <h1>{{ site.sitedata[0].sitename }}</h1>
    <p>{{ site.sitedata[0].metadesc }}</p>
    <br />
    <h2>Recent Blogs:</h2>
    <ul>
      <each loop="post, index of _collections.posts">
        <li>
          <a href='{{ post._path }}'>{{ post.title }}</a>
        </li>
      </each>
    </ul> -->
  </block>  
</extends>
