.sidebar {
  position:fixed;
  display:block;
  min-height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  border:none;
  -webkit-transition:all 0.5s cubic-bezier(0.55,0,0.1,1);
  transition:all 0.5s cubic-bezier(0.55,0,0.1,1);
  z-index:111;
}

.sidebar {
  width:0;
  -webkit-transform:translate3d(-2380px,0,0);
  transform:translate3d(-310px,0,0);
  height:100%;
  background:#162f25 url(/img/side_bg2.png) no-repeat top 80px right!important;
}

.sidebar.open {
  min-width:310px;
  width:310px;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  background:#ffffff;
}

.sidebar-overlay {
  visibility:hidden;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
  background:#000;
  z-index:111034;
  -webkit-transition:visibility 0 linear .4s, opacity .4s cubic-bezier(.4,0,.2,1);
  transition:visibility 0 linear .4s, opacity .4s cubic-bezier(.4,0,.2,1);
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}

.sidebar-overlay.active {
  opacity:0.5;
  visibility:visible;
  -webkit-transition-delay:0;
  transition-delay:0;
}

.sidebar {
  width:0;
  -webkit-transform:translate3d(350px,0,0);
  transform:translate3d(350px,0,0);
}

.sidebar.open {
  min-width:300px;
  width:300px;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

.sidebar-fixed-left, .sidebar-fixed-right, .sidebar-stacked {
  position:fixed;
  top:0;
  bottom:0;
  z-index:11111035;
}

.sidebar-stacked {
  right:0;
}

.sidebar-fixed-left {
  right:0;
  box-shadow:2px 0px 15px rgba(0, 0, 0, .35);
  -webkit-box-shadow:2px 0px 15px rgba(0, 0, 0, .35);
}

.sidebar-fixed-right {
  left:0;
  box-shadow:0px 2px 15px rgba(0, 0, 0, .35);
  -webkit-box-shadow:0px 2px 15px rgba(0, 0, 0, .35);
  -webkit-transform:translate3d(310px,0,0);
  transform:translate3d(310px,0,0);
}

.sidebar-fixed-right.open {
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

.sidebar-fixed-right .icon-material-sidebar-arrow:before {
  content:"\e614";
}

@media (max-width: 768px) {
  .sidebar.open {
    min-width:240px;
    width:240px;
  }
}

@media (max-width: 768px) {
  .sidebar .sidebar-header {
    height:auto;
  }
}

@media (max-width: 768px) {
  .sidebar .sidebar-image img {
    width:44px;
    height:44px;
  }
  .sidebar-nav {
    padding: 40px 15px 10px !important;
  }
  .sidebar-nav li a { 
    font-size: 16px !important;
  }
  body #blurb {
    background-size:200% !important
  }
}

@media(max-width:640px) {
  .sidebar-nav li a { 
    font-size: 16px; 
  }
  .sidebar-nav {
    padding: 40px 15px 10px !important;
  }
  .sidebar-nav li a { 
    font-size: 16px !important;
  }
}

.sidebar-nav {
  padding:20px 0px;
}

.sidebar-header { 
  padding:30px 44px 0px;
  text-align:center;
}

.sidebar-header  a{
  font-size:24px;
  color: #3c7d66;
}

.sidebar-header h1 { 
  padding:15px 0px;
  font-size:22px;
  text-align:center;
  font-family:"Roboto", sans-serif;
}

.sidebar-header img {
  width:70%;
  margin:auto;
}

.sidebar-nav {
  padding:30px 30px 10px;
}

.sidebar-nav li {
  display:block !important;
  width:100%;
  border-bottom:solid 1px rgb(23, 51, 40);
}

.sidebar-nav li:nth-child(1) svg{
  width:25px !important;
  height:25px !important;
  position:relative;
  top:0px;
}

.sidebar-nav li svg{
  width:20px !important;
  height:20px !important;
  float:left !important;
  position:relative;
  top:3px;
}

.sidebar-nav li a:hover svg path{
  fill:#ffffff !important
}

.sidebar-nav li svg path{
  fill:#ffffff !important
}

.sidebar-nav li a {
  color:#ffffff;
  font-size:18px;
  font-weight:bold;
  padding:8px 12px;
  width:100%;
  height:100%;
  background:none !important;
  -webkit-transition:all ease-in-out 500ms;
  transition:all ease-in-out 500ms;
  margin:0px 0px;
  display:block;
}

.sidebar-nav li a:hover {
  color:#2d7559; 
  padding-left:15px;
  -webkit-transition:all ease-in-out 300ms;
  transition:all ease-in-out 300ms;
  text-decoration:none;
}

.contsside {
  padding:10px 38px 40px;
}

.contsside a {
  display:block;
  color:#5b7f72;
  margin-top:10px;
  font-size:15px; 
}

.contsside a:hover { 
  color:#fff;  
  text-decoration:none;
}

.contsside a svg {
  width:20px !important;
  height:20px !important;
}

.copyside {
  padding:0px 38px;
  font-size:14px;
  color:#3c7964; 
  font-weight:100;
}

.contsside a svg path {
  fill:#479879 !important;
}

.sidebar-nav .loginreg {
  width:80%;
  margin:20px auto;
}

.sidebar-nav .loginreg a {
  padding:13px 10px !important;
  font-size:13px;
  background:#24234e !important;
  color:#fff;
}

.sidebar-nav .loginreg {
  background:#24234e !important;
}

.sidebar-nav .loginreg:hover {
  background:#24234e !important;
  color:#fff;
}

.sidebar-nav .loginreg:hover a {
  background:#24234e !important;
  color:#fff;
}

.sidebar-nav .loginreg a svg {
  width:18px !important;
  height:18px !important;
}

.sidebar-nav li a svg {
  margin-right:20px;
  float:left;
}

.sidebar-nav li a svg path {
  fill:#6362a9;
}

