/*header*/

#tophead {
    background-color: #6ab43e!important;
    background-image: linear-gradient(-75deg,#5b7d6e 10%,#194a35 80%)!important;
    padding:15px
}

.rightemailtop a,
#tophead .addrestop p{ 
    color:rgba(255, 255, 255, .63922);
    font-weight:100;
    font-size:15px;
    position:relative; 
    margin:auto
}

.rightemailtop a svg {
    float:left;
    margin:0px 10px 0px -40px;
    left:0;
    position:absolute;
}

#tophead .addrestop p svg{
    float:left;
    margin:0px 10px 0px 0px;
}

.rightemailtop a {
    position:relative;
}

.rightemailtop a svg path,
#tophead .addrestop p svg path{  
    fill:rgba(255, 255, 255, .52941)
}

/*menu*/

#menus { 
    padding:15px; 
    -webkit-transition:all ease-in-out 600ms;
  transition:all ease-in-out 600ms;
}

#menus.fixed {
  position:fixed;
  width:100%;
  display:block;
  top:0;
  z-index:11;
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, .07843);
          box-shadow:0px 5px 10px rgba(0, 0, 0, .07843);
  background-color:#ffffff;
  -webkit-transition:all ease-in-out 600ms;
  transition:all ease-in-out 600ms;
  -webkit-transform:translate3d(0px,0px,0px);

}

#menus.fixed .logotext a img{
  width:60px !important;
  -webkit-transition:all ease-in-out 600ms;
  transition:all ease-in-out 600ms;
}

#menus.fixed  .menulist ul {
    padding: 0px 0px 0px;
    list-style: none;
    margin: auto;
}

.menulist ul{
    padding:20px 0px 0px;
    list-style:none;
    margin:auto;
}

.menulist ul li{
    display:inline-block;
}

.menuli {
    position:relative;
    top:8px
}

.calltoday {
    margin-right:120px;
}

.calltoday  a{
    border:solid 1px #2a5a46;
    padding:12px 25px;
    color:#295946;
    font-weight:bold;
}

.calltoday a:hover {
    text-decoration:none;
}

.calltoday a:hover svg path{ 
    fill:#fff; 
    -webkit-transition:.5s; 
    transition:.5s;
}

.calltoday a svg{
    float:left;
    margin-right:10px;
}

.calltoday a svg path{
    fill:#295946
}

.menutext {
    position: relative;
    left: -70px;
    float: left;
    background: none !important; 
    color: #786809;
}

.menuli div:nth-child(2) { 
    background-color: #619680 !important; 
}

.menuli div:nth-child(4),
.menuli div:nth-child(3) { 
    background-color: #5b7d6d !important; 
}

.menutext {
    color:#386552
}

.menuli div {
    width: 40px;
    height: 5px;
    background-color: #494949;
    margin: 5px 0 0px;
    border-radius:2px
}

/*slider*/

#slider-home {
    height:500px !important;
}

#slider-home .container{
    padding:70px 430px 0px 30px;
}

#slider-home .container  h1 {
    font-size: 48px;
    background-image: linear-gradient(-75deg,#7b7b7b 50%,#416b59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    font-weight:bold;
    letter-spacing:1px;
    margin-bottom:20px
}

#slider-home .container p{
    font-size: 18px;  
    width:550px;
    color:#535353;
    font-weight:100;
    margin-bottom:30px;
}

#slider-home .container ul{
    padding:0px;
    list-style:none;
}

#slider-home .container ul li{
    display:inline-block;
}

#slider-home .container ul li.cont a{
    padding:15px 30px;
    background-color:#295845; 
    border-radius:30px;
    color:#fff;
    margin-right:20px;
}

#slider-home .container ul li.cont a:hover{
    text-decoration:none;
}

#slider-home .info a{
    background-color:#416b5a;
    padding:22px 15px 12px;
    border-radius:100%;
    position:relative;
    top:8px;
}

#slider-home .info a svg path{
    fill:#fff !important;
    opacity:111 !important
}

/*why massage*/

#whymassage .leftwhy{
    background:#333 url(/img/aboutleft.jpg)no-repeat center ;
    background-position:center;
    background-size:cover
}

#whymassage .rightwhy{
    background-color: #6ab43e!important;
    background-image: linear-gradient(-75deg,#525f59 10%,#2a5845 80%)!important;
    padding: 55px 70px 50px 50px;  
}

#whymassage .rightwhy h1{
    font-size:45px;
    font-weight:300;
    color:#fff;
    letter-spacing:1px;
    margin-bottom:30px;
}

#ourservices .service-img-inner img {
    margin-bottom:40px;
}

#index .row {
    margin:auto;
}

body #whymassage .rightwhy p{
    font-size:16px;
    font-weight:100 !important; 
    color:#c8ccca; 
    letter-spacing:.8px;  
}

body #whymassage .rightwhy p a{ 
    color:#ffffff;  
    text-decoration:underline;
    font-weight:bold;
}

/*services*/

#ourservices .swiper-button-next,
#ourservices .swiper-button-prev  {
    background:none !important
}

#ourservices .swiper-button-next svg{
   position:relative;
   right:-5px
}

#ourservices .swiper-button-prev svg{
   position:relative;
   left:-20px
}

#ourservices {
    background:#ddd url(/img/servbg.jpg)no-repeat bottom right;
    background-size:cover;
    padding:50px 0px;
}

#ourservices .headtits{ 
    margin:20px 0px 0px;
    background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    font-size:56px;
    font-weight:300;
    letter-spacing:2px;
}

#ourservices .swiper-pagination-bullet-active {
    opacity: 1;
    background: #2b5846;
}

#ourservices .swiper-slide {
    background:none !important;
}

body #ourservices .swiper-slide .services-details h3{
    font-size:23px !important;
    color:#6d6d6d;
    margin-bottom:18px;
}

body #ourservices .swiper-slide .services-details p{
    font-size:14px !important;
    color:#6d6d6d;
    font-weight:100; 
}

#ourservices .swiper-slide .services-details ul{
    padding:0px;
    list-style:none;
}

#ourservices .swiper-slide .services-details ul li{
    display:inline-block;
}

#ourservices .swiper-slide .services-details ul li.callusbook a{
    border:solid 1px #2b5846;
    padding:10px 20px;
    display:inline-block;
    color:#2b5846
}

#ourservices .swiper-slide .services-details ul li.callusbook a svg{
    float:left;
    margin-right:10px;
}

#ourservices .swiper-slide .services-details ul li.callusbook a svg path{
    fill:#2b5846
}

#ourservices .infoserv a{ 
    padding:18px 10px 10px;
    background-color:#2b5846;
    position:relative;
    top:4px
}

#ourservices .swiper-container .swiper-wrapper{
    height:550px
}

#ourservices .infoserv a svg path{
    fill:#fff
}

/*quote*/

#quote {
    background:#44ae9e url(/img/quotebg.jpg)no-repeat center fixed;
    background-size:cover;
    padding:150px
}

#quote h1{ 
    font-size:26px;
    color:#fff;
    line-height:1.6em;
    text-align:center;
    padding:0px 50px;
    letter-spacing:1px;
}

/*therapist*/

#meetourtherapist {
    padding:70px 0px;
}

#meetourtherapist .detteam img{
    max-width:100%;
}

#meetourtherapist .detteam .detbio{
    background-color:#2b5846;
    background-image: linear-gradient(185deg,#2f7f5f -10%,#2b5846 100%);
    text-align:center;
    padding:20px 10px;
}

#meetourtherapist .detteam .detbio h3{
    font-size:20px;
    color:#fff;
    letter-spacing:1px;
}

#meetourtherapist .detteam .detbio span{
    font-size:13px;
    color:#e4e6e6;
    letter-spacing:1px;
}

#meetourtherapist .detteam .detbio .btnher a{
    border:solid 2px #fff;
    display:block;
    margin:20px 20px 0px;
    padding:10px;
    color:#fff;
}

#meetourtherapist .detteam .detbio .btnher a:hover{
    background:#fff;
    color:#333;
    text-decoration:none;
}

.therapists.swiper-container  {
    height:600px
}

.titletherpst h1 {
    text-align:center;
    margin:0px 0px 10px;
     background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}

/*footer*/

#footer {
   padding:50px 0px;
   background:#f6f6f6;   
}

#footer h1{
   font-size:30px;
   margin-bottom:30px;
   background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}

#footer p{
   font-size:16px;
   font-weight:100;
   padding-right:60px;
   line-height:1.8em
}

#footer p a{
   color:#5fb358
}

#footer .navigtn ul {
    padding:0px;
}

#footer .navigtn li{
    list-style:none;
    margin:10px 0px;
}

#footer .navigtn li a{
    color:#636363;
    font-size:15px
}

#footer .contst .col-3 svg{
    background-color: #6ab43e!important;
    background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    padding:10px;
    border-radius:30px;
    width:45px !important;
    height:45px !important;
}

#footer .contst .row {
    margin:20px 0px;
}

#footer .contst .emailfots a{ 
    position:relative;
    top:5px;
    word-break:break-all
}

#footer .conts ul{
    padding:0px;
    list-style:none;
}

#footer .conts li {
    position:relative;
    top:8px
}

#footer .contst .col-9 {
    padding:0px ;
}

#footer .contst a{
    color:#676767;
}

#copyright {
    background:#2e5d4a;
    padding:30px;
}

#copyright p{
    margin:auto;
    color:#fff;
    font-size:14px;
}

#copyright p a{
    margin:auto;
    color: #1cb376;
    font-size:14px;
}

.moreinfoabout {
    border:solid 2px #fff;;
    padding:10px 35px 15px;
    color:#fff;
    position:relative !important;
    display:inline-block;
    margin:20px 0px;
}

.moreinfoabout:hover svg path,
.moreinfoabout:hover {
    background-color:#fff;
    color:#333;
    fill:#333;
    text-decoration:none;
}

#meetourtherapist .swiper-pagination-bullet-active {
    opacity: 1;
    background: #2c6952;
}

.moreinfoabout svg{     
    position:relative;
    left:0px;
    margin-right:0px !important; 
    top:5px;
}

.moreinfoabout svg path{     
    fill:#fff;
}

.icon-close {
    display: block;
    position:fixed;
    background:none;
    top:0;
    z-index:1;
    right:10px;
    border:none;
    padding:15px;
}

.icon-close svg{
    width:40px !important;
    height:40px !important; 
}

.icon-close svg path{ 
    fill:#297d5c;
}

.modalstyle {
    padding:50px;
}

#contact {
    padding:60px 0px;
    background:#f3f3f3 url(/img/cont_bg.png)no-repeat center/cover
}

#contact h1{
    color:#33846b;
    font-weight:300;
    letter-spacing:2px;
    margin-bottom:30px;
}

#contact .rightcontdets .row .col-sm-12 ,
#contact .rightcontdets .row .col-sm-6{
    margin:auto !important;
    padding:10px !important; 
}

#contact .rightcontdets .row textarea {
    background:transparent;
    -webkit-box-shadow:0px 0px 0px;
            box-shadow:0px 0px 0px;
    border:none;
    border-bottom:solid 1px #000000;
    width:100%;
    padding:15px 0px
}

#contact .btnform .submit{
    background:transparent;
    padding:15px 30px;
    border:solid 2px
}

#contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9a9a9a;
}

#contact ::-moz-placeholder { /* Firefox 19+ */
  color: #9a9a9a;
}

#contact :-ms-input-placeholder { /* IE 10+ */
  color: #9a9a9a;
}

#contact :-moz-placeholder { /* Firefox 18- */
  color: #9a9a9a;
}

#contact .rightcontdets .row .col-sm-6 input {
    background:transparent;
    -webkit-box-shadow:0px 0px 0px;
            box-shadow:0px 0px 0px;
    border:none;
    border-bottom:solid 1px;
    width:100%;
    padding:15px 0px
}

#contact .rightcontdets input{
    color:#000;
    font-weight:300;
    letter-spacing:1px;
    font-size:15px;
}

/*general*/

#slidegen {
    height:270px !important
}

#slidegen .sildertxt{
    padding:90px 0px;
}

#slidegen .sildertxt a{
    color:#58bb93;
}

#slidegen .sildertxt span{
    color:#929292;
}

#slidegen .sildertxt .othrpagesttle{
    font-size:55px;
    color:#fff
}

.contentgeneral {
    padding:40px 0px !important
}

.contentgeneral img{
    width:100%;
    margin:30px 0px;
}

.contentgeneral h1{
    width:100%;
    margin:20px 0px;
    font-size:30px
}

.contentgeneral p{
    line-height:2em;
    font-size:15px
}

/*pricing page*/

.pricing .prclst{
    margin-bottom:30px;
}

.pricing .divprc{
    background:#f9f9f9;
    padding:0px 0px 10px;
}

.pricing .divprc h1{
    background:#4ca584;  
    font-size:22px;
    padding:10px 20px;
    color:#fff;
    font-weight:300;
}

.pricing .divprc {
    -webkit-box-shadow:0px 30px 20px -20px #ddd;
            box-shadow:0px 30px 20px -20px #ddd;
    -webkit-transition:.6s;
    transition:.6s;
}

.pricing .divprc:hover  {
    -webkit-box-shadow:0px 20px 20px -20px #ddd;
            box-shadow:0px 20px 20px -20px #ddd;
    -webkit-transition:.6s;
    transition:.6s;
}

.pricing .divprc ul li{
    font-size:16px;
    color:#828282
}

.headapp {
    text-align:center;
    background:#4a7261;
    padding:2px;
    margin:auto;
    color:#fff; 
    margin-bottom:40px;
}

.leftcontapp  {
    padding:20px 30px;
}

.leftcontapp p {
    font-size:18px;
    color:#969696;
    font-weight:300;
}

.leftcontapp p a {
    font-size:18px;
    color:#49705e; 
}

.rightcontapp .imgrightfloat{
    margin:0;
    -webkit-box-shadow:0px 20px 20px -20px;
            box-shadow:0px 20px 20px -20px;
    border:solid #f9f9f9;
}

.leftcontapp strong {
    color:#333;
    font-weight:bold;
}

.leftcontapp span {
    font-size:24px;
    display:block;
    margin:30px 0px;
    color:#8e4e4e
}

.schedcol { 
    padding:30px; 
}

.schedcol svg { 
    width:120px;
    height:auto;
    margin:auto;
    display:block;
    margin:30px 0 40px;
}

.schedcol svg path{ 
    fill:#2c5b48
}

.schedcol svg path{ 
    fill:#499c7b
}

.schedcol h4{ 
    color:#499c7b;
    margin-bottom:20px;
}

.schedcol p{ 
   font-size:16px;
}

.detserlist {
    padding:15px 10px; 
    margin:15px 0px;
    background:#f9f9f9;
    -webkit-box-shadow:0px 20px 20px -20px rgba(0, 0, 0, .23137);
            box-shadow:0px 20px 20px -20px rgba(0, 0, 0, .23137);
    -webkit-transition:all ease-in-out 600ms;
    -moz-transition:all ease-in-out 600ms;
    -o-transition:all ease-in-out 600ms;
    -transition:all ease-in-out 600ms;
}

.detserlist:hover { 
    background:#2f7f5f;
    background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-transition:all ease-in-out 600ms;
    -moz-transition:all ease-in-out 600ms;
    -o-transition:all ease-in-out 600ms;
    -transition:all ease-in-out 600ms;
}

.detserlist:hover p {
    color:rgba(255, 255, 255, .78039);
    font-weight:100;
}

.detserlist:hover a{ 
    color:#fff
}

.detserlist .thumb{ 
    display:inline-block;
    float:left;
    margin-right:10px;
    position:relative;
}

.detserlist .thumb img  { 
    margin:0px 0px 100% auto;
    width:90px
}

.detserlist p  { 
   color:#2f2f2f; 
   font-size:15px;
}

.detserlist a  { 
   color:#2f5d4a;
   font-weight:bold;
   margin-bottom:10px;
   display:block;
   font-size:20px
}

.listservbtm .rightservbtm  {
    padding:20px 30px
}

.listservbtm .rightservbtm h1{ 
    color:#2f5d4a;
}

.btncall a {
    display:inline-block;
    border:solid 2px #2f5d4a;;
    padding:14px 30px;
    color:#353535;
    text-decoration:none;
}

.btncall a svg{
    float:left;
    margin-right:10px
}

.detservmodal h4 {
    margin-bottom:30px;
    color:#2f7c5b
}

.moreabout { 
    display:inline-block;
    padding:17px 30px;
    background:#719e8b;
    position:relative; 
    margin-left:15px;
    color:#fff;
}

.moreabout:hover { 
    text-decoration:none;
    color:#ddd;
}

.moreabout svg{ 
    float:left;
    margin-right:10px;
}

.moreabout svg path{ 
    fill:#fff;
}

/*pricing*/

#index .pricing {
    padding:40px 0px;
    background:#eaf9f3
}

.pricing h2 {
    margin: 30px 0px 40px;
    background-image: linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*scheduling*/

#schedule {
    background:#ddd url("/img/sched_bg.jpg")no-repeat left center;
    padding:60px 0px 70px;
    background-size:cover;
}

#schedule .ico-list a{ 
    display:inline-block;
    height:150px;
    padding:30px;
    float:left;
    margin-right:20px;
    text-align:center;
    color:#2d7157;
    font-weight:bold;
}

#schedule h2{ 
    font-size:48px;
    color:#2d7256;
    margin-bottom:40px;
    font-weight:300;
    letter-spacing:2px;
}

#schedule p{ 
    font-size:16px;
    color:#636363;
    margin-bottom:20px;
}

#schedule p a{ 
    font-size:16px;
    color:#2d7155;
    margin-bottom:20px;
    font-weight:bold;
    text-decoration:underline;
}

#schedule  .hrsdv {
    padding:15px 20px 5px;    
    border:solid 1px #219e67;
    display:inline-block;
    margin-bottom:30px;
}

#schedule  .qute {
    text-align:center;
    color:#2d7057;
    font-size:20px;
    font-weight:bold;
}

#schedule span { 
    font-size:18px;
    color:#585858;
    margin-bottom:30px;
    display:block;
}

#schedule .ico-list a svg{
    width:60px;
    display:block;
    margin:auto;
    margin-bottom:20px;
}

#schedule .ico-list a svg path{
   fill:#2d7157
}

@media(max-width:1024px) {
    #slider-home .container h1 {
        font-size: 38px; 
    }
    #slider-home {
        height: 450px !important;
    }
    #whymassage .rightwhy h1 {
        font-size: 38px; 
    }
    body #ourservices .swiper-slide .services-details h3 {
        font-size: 20px !important; 
        margin-bottom: 18px;
    } 
    .services-container { 
        height:100%
    }
    #ourservices .headtits {
        margin: 20px 0px 30px;
    }
    .services-details {
        height:200px; 
        position:relative;
    }
    .services-details ul{
        bottom:-15px;
        position:absolute;
        left:0;
        right:0;
    }
    #quote {
        background: #44ae9e url(/img/quotebg.jpg)no-repeat center fixed;
        background-size: cover;
        padding: 100px;
    }
    #schedule {
        background-position:-300px;
        text-align:center;
        background-color:#f3f3f3;
    }
    #schedule .rightsched {
        min-width:100%;
    }
    .ico-list {
        display:inline-block; 
        text-align:center;
    }
    .therapists.swiper-container {
        height: 100%;
        margin:40px 0px;
    }
    #meetourtherapist .swiper-slide {
        height:100%;
        position:relative;
    }
    .detbio {
        height:200px;
        position:relative; 
    }
    #meetourtherapist .detteam .detbio .btnher a {
        position:absolute;
        bottom:30px;
        display:block; 
        left:0;
        right:0;
    }
    body #whymassage .rightwhy p {
        font-size: 15px;
        font-weight: 100 !important;
        color: #c8ccca;
        letter-spacing: .8px;
    }
    #quote h1 {
        font-size: 20px;
        color: #fff;
        line-height: 1.6em;
        text-align: center;
        padding: 0px 50px;
        letter-spacing: 1px;
    }
}

@media(max-width:768px) {
    .rightemailtop a, #tophead .addrestop p { 
        font-size: 14px; 
    }
    #slider-home .container {
        padding: 70px 130px 0px 60px;
    }
    .leftwhy {
        display:none;
    }
    .rightwhy   {
        min-width:100%;
    }
    #quote h1 { 
        padding: 0px 10px; 
    }
    .pricing .prclst {
        min-width:50%;
    }
    #schedule {
        background-position: -600px; 
    }
    #meetourtherapist .detteam .detbio h3 {
        font-size: 18px; 
    }
    #contact .rightcontdets {
        min-width:80%; 
        display:block; 
        margin:auto;
    }
    #contact {
        background-position:-300px
    }
    #contact h1 {
        text-align:center;
    }
    #footer .aboutfot {
        min-width:70% !important
    }
    #footer .navigtn {
        min-width:30% !important;
        padding-left:40px;
    }
    #footer .contst {
        min-width:100%;
    }
    body #footer .contst .row .col-3{
        max-width:80px !important; 
    }
    #footer .contst h1 {
        font-size: 30px;
        margin-bottom: 40px; 
    }
    #copyright .col {
        min-width:100%;
        text-align:center !important;
    }
}

@media(max-width:640px) {
    #slider-home .container {
        padding: 70px 130px 0px 60px;
    }
    #menus.fixed { 
        z-index: 99999; 
    }
    .container {
        max-width: 100%;
    }
    .calltoday {
        margin-right: 90px;
    }
    .logotext {
        position:absolute;
    }
    .logotext img {
        width:70px;
    }
    #menus .col-7 {
        min-width:80%;
        margin:auto 0 auto auto
    }
    .menulist ul {
        padding: 0px 0px 10px;
        list-style: none;
        margin: auto;
    }
    #slider-home:before {
        content:"";
        display:block;
        position:absolute;
        height:100%;
        width:100%;
        background:rgba(196, 196, 196, .61176);
        z-index:1;
    }
    .vegas-wrapper {
        z-index:999 !important
    }
    #quote {
        background: #44ae9e url(/img/quotebg.jpg)no-repeat center fixed;
        background-size: cover;
        padding: 100px 30px;
    }
    #contact .rightcontdets {
        min-width: 100%; 
    }
    #contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #333;
    }

    #contact ::-moz-placeholder { /* Firefox 19+ */
      color: #333;
    }

    #contact :-ms-input-placeholder { /* IE 10+ */
      color: #333;
    }

    #contact :-moz-placeholder { /* Firefox 18- */
      color: #333;
    }
    #contact {
        background-position: -350px;
    }
    #footer .aboutfot {
        min-width: 100% !important;
    }
    #footer .navigtn {
        min-width: 100% !important;
        padding: 0px 20px 30px;
        margin:20px 0px
    }
    .navigtn ul li {         
        width:30%;
        float:left;
    }
    #slider-home .container h1 {
        font-size: 28px;
    }
    #slider-home .container p {
        font-size: 16px;
        width: 100%; 
    }
}

@media(max-width:480px) {
    #slider-home .container {
        padding: 70px 60px 0px 50px;
    }
    #slider-home .container p {
        font-size: 14px;
        width: 100%;
    }
    #tophead {
        display:none;
    }
    .calltoday {
        display:none !important;
    }
    .logotext {
        position:relative;
    }
    #menus .col-7 {
        min-width: 40%;
        margin: auto 0 auto auto;
    }
    #slider-home .container h1 {
        font-size: 24px;
    }
    #slider-home {
        height: 380px !important;
    }
    .logotext img {
        width: 50px;
    }
    .fixed .menuli {
        position:relative;
        top:-1px
    }
    .moreinfoabout { 
        padding: 10px 25px 15px; 
    }
    .detbio {
        height: 100%;
        position: relative;
    }
    #meetourtherapist .detteam .detbio .btnher a {
        position: relative;
        bottom: 0px;
    }
    body #ourservices .swiper-slide .services-details h3 {
        font-size: 28px !important; 
    }
    body #ourservices .swiper-slide .services-details p {
        font-size: 14px !important;
        padding:0px 40px;
    }
    .services-details ul {
        bottom: 0px;
        position: relative;
        left: 0;
        right: 0;
    }
    #quote { 
        padding: 50px 30px;
    }
    #quote h1 {
        font-size: 16px; 
    }
    #schedule .ico-list a { 
        height: 190px; 
    }
    #schedule .ico-list a:nth-child(3) { 
        width:100%;
    }
    #schedule .ico-list {
        vertical-align:middle;
    }
}

@media(max-width:460px) {
    #slider-home .container {
        padding: 50px 60px 0px 50px;
    }
    #slider-home .container h1 {
        font-size: 22px;
    }
    #whymassage .rightwhy h1 {
        font-size: 28px;
    }
    .rightwhy a {
        display:block;
        width:100%;
        margin:20px auto;
        text-align:center;
    }
    .rightwhy a svg{
        position:relative !important;
        float:none;
        top:5px;
    }
    .ico-list  {
        margin-top:40px
    }
    .ico-list a {
        width:44%;
        float:left !important;
        padding:0px !important
    }
    #schedule { 
        padding: 60px 0px 0px;
        background-size: cover;
    }
    .detteam {
        width:100%;
    }
    .detteam img{
        width:100%;
    }
    #footer p {
        font-size: 16px;
        font-weight: 100;
        padding-right: 0px;
        line-height: 1.8em;
    }

}

@media(max-width:400px) {
    .ico-list a{ 
        width:100%;
        margin:auto !important;
        padding:0px !important;
    }
}

@media(max-width:360px) {
    #slider-home .container {
        padding: 50px 30px 0px 30px;
    }
    #slider-home .container h1 {
        font-size: 17px;
    }
    #slider-home .container p {
        font-size: 13px;
        width: 100%;
    }
    #whymassage .rightwhy { 
        padding: 55px 30px 50px 30px;
    }
    #menus .container {
        padding:0px 0px;
    }
    #footer h1,
    .divdetconts h1,
    .titletherpst h1,
    .detsched h2,
    .headtits {
        font-size:28px !important
    }
    .detsched {
        word-break:break-all
    }
    body #footer .contst .row .col-3 {
        max-width: 30px !important; 
    }
    .contst .col-9 {
        padding-left:55px !important
    }
    .navigtn ul li {
        width: 100%;
        float: left;
    }
    #copyright { 
        padding: 30px 0px;
    }
}