#menus,#menus.fixed{
    -webkit-transition:all ease-in-out .6s
}
#slider-home .container ul li.cont a:hover,.calltoday a:hover{
    text-decoration:none
}
#tophead{
    background-color:#6ab43e!important;
    background-image:linear-gradient(-75deg,#5b7d6e 10%,#194a35 80%)!important;
    padding:15px
}
#tophead .addrestop p,.rightemailtop a{
    color:rgba(255, 255, 255, .63922);
    font-weight:100;
    font-size:15px;
    position:relative;
    margin:auto
}
.rightemailtop a svg{
    float:left;
    margin:0 10px 0 -40px;
    left:0;
    position:absolute
}
#tophead .addrestop p svg{
    float:left;
    margin:0 10px 0 0
}
.rightemailtop a{
    position:relative
}
#tophead .addrestop p svg path,.rightemailtop a svg path{
    fill:rgba(255, 255, 255, .52941)
}
#menus{
    padding:15px;
    -webkit-transition:all ease-in-out .6s;
    transition:all ease-in-out .6s
}
#menus.fixed{
    position:fixed;
    width:100%;
    display:block;
    top:0;
    z-index:11;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, .07843);
    box-shadow:0 5px 10px rgba(0, 0, 0, .07843);
    background-color:#fff;
    -webkit-transition:all ease-in-out .6s;
    transition:all ease-in-out .6s;
    -webkit-transform:translate3d(0,0,0)
}
#ourservices .swiper-slide .services-details ul li,#slider-home .container ul li,.menulist ul li{
    display:inline-block
}
#slider-home .info a,.menuli{
    top:8px;
    position:relative
}
#menus.fixed .logotext a img{
    width:60px!important;
    -webkit-transition:all ease-in-out .6s;
    transition:all ease-in-out .6s
}
#menus.fixed .menulist ul{
    padding:0;
    list-style:none;
    margin:auto
}
.menulist ul{
    padding:20px 0 0;
    list-style:none;
    margin:auto
}
.calltoday{
    margin-right:120px
}
.calltoday a{
    border:1px solid #2a5a46;
    padding:12px 25px;
    color:#295946;
    font-weight:700
}
.calltoday a:hover svg path{
    fill:#fff;
    -webkit-transition:.5s;
    transition:.5s
}
.calltoday a svg{
    float:left;
    margin-right:10px
}
.calltoday a svg path{
    fill:#295946
}
.menutext{
    position:relative;
    left:-70px;
    float:left;
    background:0 0!important;
    color:#386552
}
.menuli div:nth-child(2){
    background-color:#619680!important
}
.menuli div:nth-child(3),.menuli div:nth-child(4){
    background-color:#5b7d6d!important
}
.menuli div{
    width:40px;
    height:5px;
    background-color:#494949;
    margin:5px 0 0;
    border-radius:2px
}
#slider-home{
    height:500px!important
}
#slider-home .container{
    padding:70px 430px 0 30px
}
#slider-home .container h1{
    font-size:48px;
    background-image:linear-gradient(-75deg,#ffffff 50%,#7fb49e 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip:text;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom:20px
}
#slider-home .container p{
    font-size:18px;
    width:550px;
    color:#ffffff;
    font-weight:100;
    margin-bottom:30px
}
#slider-home .container ul{
    padding:0;
    list-style:none
}
#slider-home .container ul li.cont a{
    padding:15px 30px;
    background-color:none;
    border-radius:30px;
    color:#fff;
    margin-right:20px;
    border:solid 2px;
}
#slider-home .info a{
    background-color:#3f8569;
    padding:22px 15px 12px;
    border-radius:100%
}
#slider-home .info a svg path{
    fill:#fff!important;
    opacity:111!important
}
#whymassage .leftwhy{
    background:url(/img/aboutleft.jpg) center no-repeat #333;
    background-size:cover
}
#whymassage .rightwhy{
    background-color:#407313!important;
    background-image:linear-gradient(-75deg,#2a5845 10%,#407313 80%)!important;
    padding:55px 70px 50px 50px
}
#whymassage .rightwhy h1{
    font-size:45px;
    font-weight:300;
    color:#fff;
    letter-spacing:1px;
    margin-bottom:30px
}
#ourservices .service-img-inner img{
    margin-bottom:40px
}
#index .row{
    margin:auto
}
body #whymassage .rightwhy p{
    font-size:16px;
    font-weight:100!important;
    color:#c8ccca;
    letter-spacing:.8px
}
body #whymassage .rightwhy p a{
    color:#fff;
    text-decoration:underline;
    font-weight:700
}
#ourservices .swiper-button-next,#ourservices .swiper-button-prev{
    background:0 0!important
}
#ourservices .swiper-button-next svg{
    position:relative;
    right:-5px
}
#ourservices .swiper-button-prev svg{
    position:relative;
    left:-20px
}
#ourservices{
    background:url(/img/servbg.jpg) bottom right no-repeat #ddd;
    background-size:cover;
    padding:50px 0
}
#ourservices .swiper-container .swiper-wrapper{
    height:100% !important;
    margin:60px 0px;
}
#ourservices .headtits{
    margin:20px 0 0;
    background-image:linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip:text;
    font-size:56px;
    font-weight:300;
    letter-spacing:2px
}
#ourservices .swiper-pagination-bullet-active{
    opacity:1;
    background:#2b5846
}
#ourservices .swiper-slide{
    background:0 0!important; 
    position:relative;
}
body #ourservices .swiper-slide .services-details h3{
    font-size:23px!important;
    color:#6d6d6d;
    margin-bottom:18px
}
body #ourservices .swiper-slide .services-details p{
    font-size:14px!important;
    color:#6d6d6d;
    font-weight:100
}
#ourservices .swiper-slide .services-details ul{
    padding:0;
    list-style:none
}
#ourservices .swiper-slide .services-details ul li.callusbook a{
    border:1px solid #2b5846;
    padding:10px 20px;
    display:inline-block;
    color:#2b5846
}
#ourservices .swiper-slide .services-details ul li.callusbook a svg{
    float:left;
    margin-right:10px
}
#ourservices .swiper-slide .services-details ul li.callusbook a svg path{
    fill:#2b5846
}
#ourservices .infoserv a{
    padding:18px 10px 10px;
    background-color:#2b5846;
    position:relative;
    top:4px
}
#ourservices .swiper-container .swiper-wrapper{
    height:550px
}
#ourservices .infoserv a svg path{
    fill:#fff
}
#quote{
    background:url(/img/quotebg.jpg) center no-repeat fixed #44ae9e;
    background-size:cover;
    padding:150px
}
#quote h1{
    font-size:26px;
    color:#fff;
    line-height:1.6em;
    text-align:center;
    padding:0 50px;
    letter-spacing:1px
}
#meetourtherapist{
    padding:70px 0
}
#meetourtherapist .detteam img{
    max-width:100%
}
#meetourtherapist .detteam .detbio{
    background-color:#2b5846;
    background-image:linear-gradient(185deg,#2f7f5f -10%,#2b5846 100%);
    text-align:center;
    padding:20px 10px
}
#meetourtherapist .detteam .detbio h3{
    font-size:20px;
    color:#fff;
    letter-spacing:1px
}
#meetourtherapist .detteam .detbio span{
    font-size:13px;
    color:#e4e6e6;
    letter-spacing:1px
}
#meetourtherapist .detteam .detbio .btnher a{
    border:2px solid #fff;
    display:block;
    margin:20px 20px 0;
    padding:10px;
    color:#fff
}
#meetourtherapist .detteam .detbio .btnher a:hover{
    background:#fff;
    color:#333;
    text-decoration:none
}
#footer h1,.titletherpst h1{
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent
}
.therapists.swiper-container{
    height:600px
}
.titletherpst h1{
    text-align:center;
    margin:0 0 10px;
    background-image:linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%)
}
#footer{
    padding:50px 0;
    background:#f6f6f6
}
#footer .contst .col-3 svg,#footer h1{
    background-image:linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%)
}
#footer h1{
    font-size:30px;
    margin-bottom:30px
}
#footer p{
    font-size:16px;
    font-weight:100;
    padding-right:60px;
    line-height:1.8em
}
#footer p a{
    color:#5fb358
}
#footer .navigtn ul{
    padding:0
}
#footer .navigtn li{
    list-style:none;
    margin:10px 0
}
#footer .navigtn li a{
    color:#636363;
    font-size:15px
}
#footer .contst .col-3 svg{
    background-color:#6ab43e!important;
    padding:10px;
    border-radius:30px;
    width:45px!important;
    height:45px!important
}
#footer .contst .row{
    margin:20px 0
}
#footer .contst .emailfots a{
    position:relative;
    top:5px;
    word-break:break-all
}
#footer .conts ul{
    padding:0;
    list-style:none
}
#footer .conts li{
    position:relative;
    top:8px
}
#footer .contst .col-9{
    padding:0
}
#footer .contst a{
    color:#676767
}
#copyright{
    background:#2e5d4a;
    padding:30px
}
#copyright p{
    margin:auto;
    color:#fff;
    font-size:14px
}
#copyright p a{
    margin:auto;
    color:#1cb376;
    font-size:14px
}
.moreinfoabout{
    border:2px solid #fff;
    padding:10px 35px 15px;
    color:#fff;
    position:relative!important;
    display:inline-block;
    margin:20px 0
}
.moreinfoabout:hover,.moreinfoabout:hover svg path{
    background-color:#fff;
    color:#333;
    fill:#333;
    text-decoration:none
}
#meetourtherapist .swiper-pagination-bullet-active{
    opacity:1;
    background:#2c6952
}
.moreinfoabout svg{
    position:relative;
    left:0;
    margin-right:0!important;
    top:5px
}
.moreinfoabout svg path{
    fill:#fff
}
.icon-close{
    display:block;
    position:fixed;
    background:0 0;
    top:0;
    z-index:1;
    right:10px;
    border:none;
    padding:15px
}
.icon-close svg{
    width:40px!important;
    height:40px!important
}
.icon-close svg path{
    fill:#297d5c
}
.modalstyle{
    padding:40px; 
}
#contact{
    padding:60px 0 80px;
    background:url(/img/cont_bg2.jpg) center/cover no-repeat #f3f3f3
}
.rightcontdets{
    min-width:60% !important;
    margin:auto !important; 
    position:relative;
    display:block !important;
    text-align:center;
}
#contact h1{
    color:#fff;
    font-weight:300;
    letter-spacing:2px;
    margin-bottom:60px
}
#contact .rightcontdets .row .col-sm-12,#contact .rightcontdets .row .col-sm-6{
    margin:auto!important;
    padding:10px!important
}
#contact .rightcontdets .row textarea{
    background:0 0;
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
    border:none;
    border-bottom:solid 1px #fff;
    width:100%;
    padding:15px 0;
    color:#fff;
}
#contact .btnform .submit{
    background:0 0;
    padding:14px 60px;
    border:3px solid; 
    font-size:20px
}
#contact ::-webkit-input-placeholder{
    color:#fff
}
#contact ::-moz-placeholder{
    color:#fff
}
#contact :-ms-input-placeholder{
    color:#fff
}
#contact :-moz-placeholder{
    color:#fff
}
#contact .rightcontdets .row .col-sm-6 input{
    background:0 0;
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
    border:none;
    border-bottom:solid 1px #fff;
    width:100%;
    padding:15px 0
}
#contact .rightcontdets .row .col-sm-6 textarea:focus,
#contact .rightcontdets .row .col-sm-6 input:focus{
    -webkit-box-shadow:0px 0px 0px !important;
            box-shadow:0px 0px 0px !important;  
    outline:none !important
}
#contact .rightcontdets input{
    color:#fff;
    font-weight:300;
    letter-spacing:1px;
    font-size:15px
}
#slidegen{
    height:270px!important
}
#slidegen .sildertxt{
    padding:90px 0
}
#slidegen .sildertxt a{
    color:#58bb93
}
#slidegen .sildertxt span{
    color:#929292
}
#slidegen .sildertxt .othrpagesttle{
    font-size:55px;
    color:#fff
}
.contentgeneral{
    padding:40px 0!important
}
.contentgeneral img{
    width:100%;
    margin:30px 0
}
.contentgeneral h1{
    width:100%;
    margin:20px 0;
    font-size:30px
}
.contentgeneral p{
    line-height:2em;
    font-size:15px
}
.pricing .prclst{
    margin-bottom:30px
}
.pricing .divprc{
    background:#f9f9f9;
    padding:0 0 10px;
    -webkit-box-shadow:0 30px 20px -20px #ddd;
    box-shadow:0 30px 20px -20px #ddd;
    -webkit-transition:.6s;
    transition:.6s
}
.pricing .divprc h1{
    background:#4ca584;
    font-size:22px;
    padding:10px 20px;
    color:#fff;
    font-weight:300
}
.pricing .divprc:hover{
    -webkit-box-shadow:0 20px 20px -20px #ddd;
    box-shadow:0 20px 20px -20px #ddd;
    -webkit-transition:.6s;
    transition:.6s
}
.detserlist,.detserlist:hover{
    -webkit-transition:all ease-in-out .6s;
    -moz-transition:all ease-in-out .6s;
    -o-transition:all ease-in-out .6s;
    -transition:all ease-in-out .6s
}
.pricing .divprc ul li{
    font-size:16px;
    color:#828282
}
.headapp{
    text-align:center;
    background:#4a7261;
    padding:2px;
    margin:auto auto 40px;
    color:#fff
}
.leftcontapp{
    padding:20px 30px
}
.leftcontapp p{
    font-size:18px;
    color:#969696;
    font-weight:300
}
.leftcontapp p a{
    font-size:18px;
    color:#49705e
}
.rightcontapp .imgrightfloat{
    margin:0;
    -webkit-box-shadow:0 20px 20px -20px;
    box-shadow:0 20px 20px -20px;
    border:solid #f9f9f9
}
.leftcontapp strong{
    color:#333;
    font-weight:700
}
.leftcontapp span{
    font-size:24px;
    display:block;
    margin:30px 0;
    color:#8e4e4e
}
.schedcol{
    padding:30px
}
.schedcol svg{
    width:120px;
    height:auto;
    display:block;
    margin:30px 0 40px
}
.schedcol svg path{
    fill:#499c7b
}
.schedcol h4{
    color:#499c7b;
    margin-bottom:20px
}
.schedcol p{
    font-size:16px
}
.detserlist{
    padding:15px 10px;
    margin:15px 0;
    background:#f9f9f9;
    -webkit-box-shadow:0 20px 20px -20px rgba(0, 0, 0, .23137);
    box-shadow:0 20px 20px -20px rgba(0, 0, 0, .23137)
}
.detserlist:hover{
    background:#2f7f5f;
    background-image:linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%)
}
.detserlist:hover p{
    color:rgba(255, 255, 255, .78039);
    font-weight:100
}
.detserlist:hover a{
    color:#fff
}
.detserlist .thumb{
    display:inline-block;
    float:left;
    margin-right:10px;
    position:relative
}
.detserlist .thumb img{
    margin:0 0 100% auto;
    width:90px
}
.btncall a svg,.moreabout svg{
    margin-right:10px;
    float:left
}
.detserlist p{
    color:#2f2f2f;
    font-size:15px
}
.detserlist a,.listservbtm .rightservbtm h1{
    color:#2f5d4a
}
.detserlist a{
    font-weight:700;
    margin-bottom:10px;
    display:block;
    font-size:20px
}
#schedule .hrsdv,.btncall a,.moreabout{
    display:inline-block
}
.listservbtm .rightservbtm{
    padding:20px 30px
}
.btncall a{
    border:2px solid #2f5d4a;
    padding:14px 30px;
    color:#353535;
    text-decoration:none
}
.detservmodal h4{
    margin-bottom:30px;
    color:#2f7c5b
}
.moreabout{
    padding:17px 30px;
    background:#719e8b;
    position:relative;
    margin-left:15px;
    color:#fff
}
.moreabout:hover{
    text-decoration:none;
    color:#ddd
}
.moreabout svg path{
    fill:#fff
}
#index .pricing{
    padding:40px 0;
    background:#eaf9f3
}
.pricing h2{
    margin:30px 0 40px;
    background-image:linear-gradient(-75deg,#2f7f5f 30%,#2b5846 80%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-background-clip:text;
    font-size:56px;
    font-weight:300;
    letter-spacing:2px
}
#schedule{
    background:url(/img/sched_bg.jpg) left center no-repeat #ddd;
    padding:60px 0 70px;
    background-size:cover
}
#schedule .ico-list a{
    display:inline-block;
    height:150px;
    padding:30px;
    float:left;
    margin-right:20px;
    text-align:center;
    color:#2d7157;
    font-weight:700
}
#schedule h2{
    font-size:48px;
    color:#2d7256;
    margin-bottom:40px;
    font-weight:300;
    letter-spacing:2px
}
#schedule p,#schedule p a{
    font-size:16px;
    margin-bottom:20px
}
#schedule p{
    color:#636363
}
#schedule p a{
    color:#2d7155;
    font-weight:700;
    text-decoration:underline
}
#schedule .hrsdv{
    padding:15px 20px 5px;
    border:1px solid #219e67;
    margin-bottom:30px
}
#schedule .qute{
    text-align:center;
    color:#2d7057;
    font-size:20px;
    font-weight:700
}
#schedule span{
    font-size:18px;
    color:#585858;
    margin-bottom:30px;
    display:block
}
#schedule .ico-list a svg{
    width:60px;
    display:block;
    margin:auto auto 20px
}
#schedule .ico-list a svg path{
    fill:#2d7157
}
.g-recaptcha{
    padding-left:10px
}
.therapists {
    height:100% !important;
    margin:50px 0px;
}
.g-recaptcha {
    text-align:center !important;
    display:inline-block;
}
@media(max-width:1024px){
    #slider-home .container h1,#whymassage .rightwhy h1{
        font-size:38px
    }
    #quote h1,#schedule,.ico-list{
        text-align:center
    }
    #slider-home{
        height:450px!important
    }
    body #ourservices .swiper-slide .services-details h3{
        font-size:20px!important;
        margin-bottom:18px
    }
    .services-container{
        height:100%
    }
    #ourservices .headtits{
        margin:20px 0 30px
    }
    .services-details{
        height:200px;
        position:relative
    }
    .services-details ul{
        bottom:-15px;
        position:absolute;
        left:0;
        right:0
    }
    #quote{
        background:url(/img/quotebg.jpg) center no-repeat fixed #44ae9e;
        background-size:cover;
        padding:100px
    }
    #schedule{
        background-position:-300px;
        background-color:#f3f3f3
    }
    #schedule .rightsched{
        min-width:100%
    }
    .ico-list{
        display:inline-block
    }
    .therapists.swiper-container{
        height:100%;
        margin:40px 0
    }
    #meetourtherapist .swiper-slide{
        height:100%;
        position:relative
    }
    .detbio{
        height:200px;
        position:relative
    }
    #meetourtherapist .detteam .detbio .btnher a{
        position:absolute;
        bottom:30px;
        display:block;
        left:0;
        right:0
    }
    body #whymassage .rightwhy p{
        font-size:15px;
        font-weight:100!important;
        color:#c8ccca;
        letter-spacing:.8px
    }
    #quote h1{
        font-size:20px;
        color:#fff;
        line-height:1.6em;
        padding:0 50px;
        letter-spacing:1px
    }
}
@media(max-width:768px){
    #tophead .addrestop p,.rightemailtop a{
        font-size:14px
    }
    #slider-home .container{
        padding:70px 130px 0 60px
    }
    .leftwhy{
        display:none
    }
    .rightwhy{
        min-width:100%
    }
    #quote h1{
        padding:0 10px
    }
    .pricing .prclst{
        min-width:50%
    }
    #schedule{
        background-position:-600px
    }
    #meetourtherapist .detteam .detbio h3{
        font-size:18px
    }
    #contact .rightcontdets{
        min-width:100% !important;
        display:block;
        margin:auto
    }
    #contact{
        background-position:-300px
    }
    #contact h1{
        text-align:center
    }
    #footer .aboutfot{
        min-width:70%!important
    }
    #footer .navigtn{
        min-width:30%!important;
        padding-left:40px
    }
    #footer .contst{
        min-width:100%
    }
    body #footer .contst .row .col-3{
        max-width:80px!important
    }
    #footer .contst h1{
        font-size:30px;
        margin-bottom:40px
    }
    #copyright .col{
        min-width:100%;
        text-align:center!important
    }
}
@media(max-width:640px){
    .iziModal {
        z-index:999 !important;
        top:70px; 
    }
    #slider-home .container{
        padding:70px 130px 0 60px
    }
    #menus.fixed{
        z-index:444
    }
    .container{
        max-width:100%
    }
    .calltoday{
        margin-right:90px
    }
    .logotext{
        position:absolute
    }
    .logotext img{
        width:70px;
    }
    #menus .col-7{
        min-width:80%;
        margin:auto 0 auto auto
    }
    .menulist ul{
        padding:0 0 10px;
        list-style:none;
        margin:auto
    }
    #slider-home:before{
        content:"";
        display:block;
        position:absolute;
        height:100%;
        width:100%;
        background:rgba(0, 0, 0, .32);
        z-index:1
    }
    .vegas-wrapper{
        z-index:222!important
    }
    #quote{
        background:url(/img/quotebg.jpg) center no-repeat fixed #44ae9e;
        background-size:cover;
        padding:100px 30px
    }
    #contact .rightcontdets{
        min-width:100%
    }
    #footer .aboutfot,#footer .navigtn{
        min-width:100%!important
    }
    
    #contact{
        background-position:-350px
    }
    #footer .navigtn{
        padding:0 20px 30px;
        margin:20px 0
    }
    .navigtn ul li{
        width:30%;
        float:left
    }
    #slider-home .container h1{
        font-size:28px
    }
    #slider-home .container p{
        font-size:16px;
        width:100%
    }
}
@media(max-width:480px){
    #schedule {
        background-position: -1000px;
    }
    #meetourtherapist .detteam .detbio .btnher a,.services-details ul{
        bottom:0;
        position:relative
    }
    .detbio,.fixed .menuli,.logotext,.services-details ul{
        position:relative
    }
    #slider-home .container{
        padding:70px 60px 0 50px
    }
    #slider-home .container p{
        font-size:14px;
        width:100%
    }
    #tophead{
        display:none
    }
    .calltoday{
        display:none!important
    }
    #menus .col-7{
        min-width:40%;
        margin:auto 0 auto auto
    }
    #slider-home .container h1{
        font-size:24px
    }
    #slider-home{
        height:380px!important
    }
    .logotext img{
        width:50px
    }
    .fixed .menuli{
        top:-1px
    }
    .moreinfoabout{
        padding:10px 25px 15px
    }
    .detbio{
        height:100%
    }
    body #ourservices .swiper-slide .services-details h3{
        font-size:28px!important
    }
    body #ourservices .swiper-slide .services-details p{
        font-size:14px!important;
        padding:0 40px
    }
    .services-details ul{
        left:0;
        right:0
    }
    #quote{
        padding:50px 30px
    }
    #quote h1{
        font-size:16px
    }
    #schedule .ico-list a{
        height:160px
    }
    #schedule .ico-list a:nth-child(3){
        width:100%
    }
    #schedule .ico-list{
        vertical-align:middle
    }
    #contact .btnform .submit {
        width:100%;
    }
}
@media(max-width:460px){
    #slider-home .container{
        padding:50px 60px 0 50px
    }
    #slider-home .container h1{
        font-size:20px
    }
    #whymassage .rightwhy h1{
        font-size:28px
    }
    .rightwhy a{
        display:block;
        width:100%;
        margin:20px auto;
        text-align:center
    }
    .rightwhy a svg{
        position:relative!important;
        float:none;
        top:5px
    }
    .ico-list{
        margin-top:40px
    }
    .ico-list a{
        width:44%;
        float:left!important;
        padding:0!important
    }
    #schedule{
        padding:60px 0 0;
        background-size:cover
    }
    .detteam,.detteam img{
        width:100%
    }
    #footer p{
        font-size:16px;
        font-weight:100;
        padding-right:0;
        line-height:1.8em
    }
}
@media(max-width:400px){
    .ico-list a{
        width:100%;
        margin:auto!important;
        padding:0!important
    }
}
@media(max-width:360px){
    #slider-home .container{
        padding:50px 30px 0
    }
    #slider-home .container h1{
        font-size:17px
    }
    #slider-home .container p{
        font-size:13px;
        width:100%
    }
    #whymassage .rightwhy{
        padding:55px 30px 50px
    }
    #menus .container{
        padding:0
    }
    #footer h1,.detsched h2,.divdetconts h1,.headtits,.titletherpst h1{
        font-size:28px!important
    }
    .detsched{
        word-break:break-all
    }
    body #footer .contst .row .col-3{
        max-width:30px!important
    }
    .contst .col-9{
        padding-left:55px!important
    }
    .navigtn ul li{
        width:100%;
        float:left
    }
    #copyright{
        padding:30px 0
    }
}
